{
  "presets": ["es2015", "react"],
  "plugins": [
    "dynamic-import-node",
    "transform-class-properties",
    "../babel",
    [
      "module-resolver",
      {
        "alias": {
          "react-loadable-hooks": "./src/index.js",
          "react-loadable-hooks/server": "./src/server.js",
          "react-loadable-hooks/webpack": "./src/webpack.js"
        }
      }
    ]
  ]
}
